/*@font-face {
    font-family: "VictorMono-Thin";
    font-style: normal;
    font-weight: 100;
    src: url("./font/Victor_Mono/VictorMono-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "PoiretOne-Regular";
    font-style: normal;
    font-weight: 100;
    src: url("./font/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
}*/


@font-face {
    font-family: 'GreatVibes';
    src: url('./font/Great_Vibes/GreatVibes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caravan';
    src: url('Caravan.eot');
    src: local('Caravan'),
        url('./font/font/Caravan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Bodega-Script";
    font-style: normal;
    font-weight:100;
    src: url("./font/Bodega/Bodega-Script.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight:100;
    src: url("./font/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular", sans-serif;
    color: rgb(62, 52, 47);
}

h1, h2, h3, h4, h4, h5 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
}

section {
    width: 100%;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* чтобы видео было фоном */
}

.video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; /* главное свойство для фона */
}

.wrap {
    max-width: 1000px;
    margin: 0 auto;
//    border: solid 1px black;
    padding: 30px 10px;
}

.main, .invitation, .timing, .dress-code, .hints h4, .location h4{
    text-align: center;
}

.invitation, .timing {
    background: rgba(255, 255, 255, 0.7);
}

.dress-code {
    background: rgba(255, 255, 255, 1.0);
}

.hints {
    background: rgba(255, 252, 239, 1.0);
}

.main {
    padding: 100px 0px 100px 0px;
}

.main h1 {
    margin: 20px 0 100px 0;
    font-family: "Bodega-Script", sans-serif;
    text-transform: none;
    font-size: 64px;
    font-weight: 400;
}

.welcom {
    font-size: 25px;
}

.main span {
    margin: 10px 0 10px 0;
    font-size: 70px;
}

.invitation h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.invitation p{
    margin: 0 0 15px 0;
}

h4{
    font-size: 35px;
    margin-bottom: 30px;
}

.date {
    margin-bottom: 25px;
}

.time {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
}

.name {
    font-weight: normal;
    margin-bottom: 25px;
}

.dresscode-color {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 40px 0;
}

.color-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.color-item1 {
    background: #0b090c;
}

.color-item2 {
    background: #3A2D28;
}

.color-item3 {
    background: #50311d;
}

.color-item4 {
    background: #A48374;
}

.color-item5 {
    background: #B89C82;
}

.color-item6 {
    background: #DACFB6;
}

.color-item7 {
    background: #F9F5ED;
    border: solid 1px silver;
}
/*================================================*/
/*.dresscode-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 20px;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 35px;             
    background: #fff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;              
    display: block;
}
*/

.dresscode-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 //   justify-content: space-around;
}

.gallery-item {
    max-width: 120px;
    overflow: hidden;
    border-radius: 35px;
    box-shadow: 0 5px 18px rgba(0,0,0,0.15);
    margin: 5px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
}


/*==================================================*/
.item {
    display: flex;
    flex-direction: flex;
    width: 100%;
    margin-top: 30px;
}

.item h5{
    font-size: 25px;
    margin-bottom: 20px;
}

.icon {
    font-size: 30px;
    margin-right: 20px;
}